<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Avenger Page</title>
</head>
<body>
  <form action="#" th:action="@{/addAvenger}" method="post" th:object="${avenger}">
    Name: <input type="text" th:field="*{name}"/>
    Age: <input type="number" th:field="*{age}"/>
    Power Source: <select th:field="*{powerSource}"/>
<!--        <p><input type="submit" value="Add!"></p>-->

<!--        <option th:each="source : *{powerSource}"-->
<!--              th:value="${source}" th:text="${source}">-->
  </form>
</body>
</html>