<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Page</title>
</head>
<body>
<h2>Current Invoices</h2>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Created_at</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
    </thead>
    <tbody>
        <tr th:each="invoice:${invoiceList}">
                <td th:text="${invoice.id}"></td>
                <td th:text="${invoice.title}"></td>
                <td th:text="${invoice.description}"></td>
                <td th:text="${invoice.category}"></td>
                <td th:text="${invoice.price}"></td>
                <td th:text="${invoice.createdAt}"></td>

                <td>
                    <form method="post" th:action="'edit?id=' + ${invoice.id}">
                        <button type="submit" name="submit">Delete</button>
                    </form>
                </td>

                <td>
                    <form>
                        <button>Update</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
<!--


<a th:href="'edit'" th:method="POST">Delete</a>-->
<!--                    <button th:href="'edit'" th:method="Post">Delete</button>-->
<!--                    <input th:method="POST">Delete</input>-->
<!--                    <a th:href="@{'/edit?id=' + ${invoice.id}}" th:method="Get">Delete</a>-->



















<form action="payment" method="get">
    <button>Create Invoice</button>
</form>

<form action="edit" method="get">
    <button>Log Out</button>
</form>
</body>
</html>